body {
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    display: none !important; /*important är till för att prioritera den här regeln*/
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: white;  }
}

@media (min-width: 1025px) {
  body {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.post-item {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 100%;
}

.post-item:hover {
  background-color: gray;
}

.message {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  padding: 0.4em 2em;
  border: none;
  outline: none;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 30px;
}

.auth-button-color {
  color: red;
  background-color: #111;
}

.auth-buttons:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.auth-buttons:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.logo {
  width: 150px; 
  cursor: pointer;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 1px 10px;
  gap: 10px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  height: 25px;
}


.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}

.upvoted {
  background-color: green; 
  color: white; 
}

.downvoted {
  background-color: red; 
  color: white; 
}

.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.buttons {
  color: #fff;
  padding: 1px 1px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  height: 40px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.buttons-dropdown {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: green;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 0px;
  min-width: 100px; 
  z-index: 2;
}

.dropdown-content button {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Rule to handle overlapping dropdowns */
.dropdown-content ~ .dropdown-content {
  display: none;
}

.signup-link {
  color: #0D0D0D;
  cursor: pointer;
}

.signup-link span {
  color: #002bff;
}

.signup-link:hover {
  color: #002bff;
}

.bold-text {
  font-weight: bold;
}

.post-content {
  font-size: 18px;
  line-height: 1.5;
  color: red;
  margin-bottom: 20px;
  text-align: justify;
}

.post-tag {
  font-size: 14px;
  font-weight: bold;
  color: #0077cc;
  margin-bottom: 10px;
}

.posted-by {
  font-size: 12px;
  font-style: italic;
  color: #888;
  margin-bottom: 5px;
}

.my-posts-list {
  list-style: none;
  padding: 0;
}

.my-post-item {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.my-post-item:hover {
  background-color: #f0f0f0;
}

.my-post-item:active {
  cursor: grab;
}

.my-post-title {
  margin: 0;
  font-weight: bold;
}
.comment {
  border: 1px solid blue;
  margin: 10px; 
  padding: 10px; 
}

.reply {
  border: 1px solid red;
  margin-left: 20px; 
  padding: 10px;
}

/*användarvänlighet (screen readers, SEO)*/